@import url(base.css);

.header{
    position: fixed;
    width: 100%;
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.mobile-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 40px;
    height: 30px;
}
.mobile-icon span{
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: .2s ease-in-out;
}
.mobile-icon.active span:nth-child(1){
    transform: translateY(2px) rotate(45deg);
}
.mobile-icon.active span:nth-child(2){
    transform: translateY(-11px) rotate(-45deg);
}

.desk-nav{
    display: none;
}

.side-nav{
    position: fixed;
    top: 2.5rem;
    right: -70%;
    width: 60%;
    height: 100dvh;
    border: 1px solid;
    transition: .2s ease-in-out;
}
.side-nav.active{
    right: 0;
}

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.hero h1 span{
    position: absolute;
    font-size: 22.5vw;
}
.hero h1 span:nth-child(1){
    top: 8vw;
    left: 0;
}
.hero h1 span:nth-child(2){
    top: 25vw;
    left: 100px;
    border: 2px solid;
}
.hero .text{
    position: absolute;
    bottom: 50px;
    left: 50px;
}
.hero .text p{
    width: 60%;
}
.hero .text button{
    border: 2px solid;
    font-size: 1.1rem;
    padding: 15px 30px;
    margin-top: 1rem;
}

.origin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130dvh;
}
.origin h2{
    font-size: 23vw;
}
.origin p{
    margin-block: .5rem;
    width: 60%;
    padding: 1rem;
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200dvh;
}
.features .slice h2{
    font-size: 15vw;

}
.features .slice:nth-child(1) h2{
    font-family: var(--typo-font);
    font-size: 20vw;
    font-weight: 500;
    text-transform: capitalize;
}
.features .slice:nth-child(2) h2{
    background-image: url(../imgs/grid.jpg);
    background-size: cover;
}
.features .slice:nth-child(3) h2{
    background-color: #000;
    color: #fff;
}
.features .slice p{
    width: 80%;
    margin: 1rem 3rem;
}

.footer{
    padding: 3rem 1rem;
    border-top: 2px solid #000;
}

@media screen and (min-width: 1200px){
    p{
        font-size: 1.3rem;
    }

    .mobile-icon{
        display: none;
    }
    .desk-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .desk-nav a{
        font-size: 1.3rem;
    }
    .desk-nav a:nth-child(2){
        font-weight: 600;
    }
    .desk-nav a:nth-child(3){
        font-weight: bolder;
        font-family: var(--title-font);
    }

    .hero h1 span{
        font-size: 20vw;
    }
    .hero h1 span:nth-child(1){
        top: 0;
    }
    .hero h1 span:nth-child(2){
        top: 15vw;
        left: 25.5vw;
    }
    .hero .text{
        bottom: 3vw;
    }
    .hero .text p{
        width: 300px;
    }

    .origin{
        position: relative;
        border: 2px solid;
    }
    .origin img{
        position: absolute;
        right: 0;
        bottom: 0;
        height: 120%;
    }
    .origin p{
        position: absolute;
        width: 40%;
        margin: 0;
        padding: 1rem;
        border: 2px solid;
    }
    .origin p:nth-child(1){
        top: 7.5rem;
        left: 5rem;
    }
    .origin p:nth-last-child(1){
        bottom: 7rem;
        right: 5rem;
    }
    .origin h2{
        z-index: 9;
    }

    .features{
        height: 300dvh;
    }
    .features .slice{
        display: flex;
        flex-direction: column;
    }
    .features .slice h2{
        padding-inline: 5rem;
        font-size: 11vw;
    }
    .features .slice:nth-child(odd) h2{
        align-self: flex-end;
    }
    .features .slice:nth-child(2) h2{
        width: 100%;
    }
    .features .slice p{
        width: 50%;
        padding: 1rem;
    }
    .features .slice:nth-child(even) p{
        align-self: flex-end;   
    }
}