@import url(base.css);

.header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.mobile-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 40px;
    height: 30px;
    border: 1px solid;
}
.mobile-icon span{
    width: 100%;
    height: 2px;
    background-color: #000;
}

.desk-nav{
    display: none;
}

.side-nav{
    position: fixed;
    top: 0;
    right: -70%;
    width: 60%;
    height: 100dvh;
    border: 1px solid;
}

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.hero h1 span{
    position: absolute;
}
.hero h1 span:nth-child(1){
    font-size: 22.5vw;
    top: 50px;
    left: 0;
}
.hero h1 span:nth-child(2){
    font-size: 22.5vw;
    top: 140px;
    left: 100px;
}
.hero .text{
    position: absolute;
    bottom: 50px;
    left: 50px;
}
.hero .text p{
    width: 60%;
    font-size: 1.1rem;
}
.hero .text button{
    border: 1px solid red;
    font-size: 1.1rem;
    padding: 10px 20px;
    margin-top: 1rem;
}

.origin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    border: 1px solid red;
}
.origin h2{
    font-size: 23vw;
}
.origin p{
    margin-block: .5rem;
    width: 60%;
}